[submodule "pack/vendor/start/papercolor"]
	path = pack/vendor/start/papercolor
	url = git@github.com:NLKNguyen/papercolor-theme.git
[submodule "pack/vendor/start/nerdtree"]
	path = pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/vendor/start/lspconfig"]
	path = pack/vendor/start/lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "pack/vendor/start/nerdtree-git"]
	path = pack/vendor/start/nerdtree-git
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "pack/vendor/start/treesitter"]
	path = pack/vendor/start/treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "pack/vendor/start/plenary"]
	path = pack/vendor/start/plenary
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "pack/vendor/start/gitsigns"]
	path = pack/vendor/start/gitsigns
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "pack/vendor/start/cmp"]
	path = pack/vendor/start/cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "pack/vendor/start/cmp-path"]
	path = pack/vendor/start/cmp-path
	url = https://github.com/hrsh7th/cmp-path
[submodule "pack/vendor/start/cmp-vsnip"]
	path = pack/vendor/start/cmp-vsnip
	url = https://github.com/hrsh7th/cmp-vsnip
[submodule "pack/vendor/start/cmp-buffer"]
	path = pack/vendor/start/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
[submodule "pack/vendor/start/cmp-lsp"]
	path = pack/vendor/start/cmp-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "pack/vendor/start/vim-vsnip"]
	path = pack/vendor/start/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip
[submodule "pack/vendor/start/fzf"]
	path = pack/vendor/start/fzf
	url = https://github.com/epii1/fzf.vim
[submodule "pack/vendor/start/ag"]
	path = pack/vendor/start/ag
	url = https://github.com/epii1/ag.vim
[submodule "pack/vendor/start/mru"]
	path = pack/vendor/start/mru
	url = https://github.com/epii1/mru.vim
[submodule "pack/vendor/start/vim-snippets"]
	path = pack/vendor/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "pack/vendor/start/fugitive"]
	path = pack/vendor/start/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "pack/vendor/start/vim-startify"]
	path = pack/vendor/start/vim-startify
	url = https://github.com/mhinz/vim-startify
[submodule "pack/vendor/start/night-fox"]
	path = pack/vendor/start/night-fox
	url = git@github.com:EdenEast/nightfox.nvim.git
[submodule "pack/vendor/start/vim-airline"]
	path = pack/vendor/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "pack/vendor/start/popup"]
	path = pack/vendor/start/popup
	url = git@github.com:nvim-lua/popup.nvim.git
[submodule "pack/vendor/start/null-ls"]
	path = pack/vendor/start/null-ls
	url = git@github.com:jose-elias-alvarez/null-ls.nvim.git
[submodule "pack/vendor/start/tcomment"]
	path = pack/vendor/start/tcomment
	url = git@github.com:tomtom/tcomment_vim.git
